<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="../layout/default">

<!-- page CSS -->
<th:block layout:fragment="css">
</th:block>

<!-- page 스크립트 -->
<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content" >
    <a th:href="@{/crud/post}">글쓰기</a>

    <table class="striped">
        <thead>
        <tr>
            <th class="one wide">번호</th>
            <th class="ten wide">글제목</th>
            <th class="two wide">작성자</th>
            <th class="three wide">작성일</th>
        </tr>
        </thead>

        <tbody>
        <!-- CONTENTS !-->
        <tr th:each="crud : ${crudList}">
            <td>
                <span th:text="${crud.id}"></span>
            </td>
            <td>
                <a th:href="@{'/crud/post/' + ${crud.id}}">
                    <span th:text="${crud.title}"></span>
                </a>
            </td>
            <td>
                <span th:text="${crud.writerId}"></span>
            </td>
            <td>
                <span th:text="${#temporals.format(crud.writeDate, 'yyyy-MM-dd HH:mm')}"></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</html>