<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="../layout/default">

<!-- page CSS -->
<th:block layout:fragment="css">
</th:block>

<!-- page 스크립트 -->
<th:block layout:fragment="script">
    <!-- 변수 셋팅 -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        var popupinfoDto = /*[[${popupinfoDto}]]*/ "";
        /*]]>*/

        console.info(popupinfoDto)
        $(document).ready(function(){

        });
    </script>

    <!-- script -->
    <script th:inline="javascript" th:src="@{/js/crud.js}"></script>
</th:block>

<div layout:fragment="content" >
    <h2 th:text="${popupinfoDto.popupTitle}"></h2>
    <p th:inline="text">작성일 : [[${#temporals.format(popupinfoDto.popupRegdt, 'yyyy-MM-dd HH:mm')}]]</p>
    <div style="border: solid 1px;"><th:block th:utext="${popupinfoDto.contents}"></th:block></div>

    <div class="img-container">
        <div class="img-row">
            <div th:each="attachDto : ${attachDtoList}" class="column">
                <img class="slide-img cursor" th:style="'background-image: url(/attach/resizeImgView.do/' + ${attachDto.idAttach} + '/' + ${attachDto.snFileAttach} + ');'"/>
            </div>
        </div>
    </div>

    <!-- 수정/삭제 -->
    <div>
        <a th:href="@{'/popup/post/edit/' + ${popupinfoDto.popupSeq}}">
            <button>수정</button>
        </a>

        <form id="delete-form" th:action="@{'/popup/post/' + ${popupinfoDto.popupSeq}}" method="post">
            <input type="hidden" name="_method" value="delete"/>
            <button id="delete-btn">삭제</button>
        </form>
    </div>
</div>
</html>