<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="../layout/default">

<!-- page CSS -->
<th:block layout:fragment="css">
</th:block>

<!-- page 스크립트 -->
<th:block layout:fragment="script">
    <!-- 변수 셋팅 -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        var popupinfoDto = /*[[${popupinfoDto}]]*/ "";
        /*]]>*/

        console.info(popupinfoDto)
        $(document).ready(function(){

        });
    </script>

    <!-- script -->
    <script th:inline="javascript" th:src="@{/js/crud.js}"></script>
</th:block>

<div layout:fragment="content" >
        <h4 th:text="${popupinfoDto.popupTitle}" />
        <h6 class="teal-text" th:text="${#temporals.format(popupinfoDto.popupRegdt, 'yyyy-MM-dd')}" />
        <p><th:block th:utext="${popupinfoDto.contents}"></th:block></p>


        <div th:each="attachDto : ${attachDtoList}" >
            <img style="max-height: 800px; width: 100%; overflow: hidden;" th:src="@{/attach/resizeImgView.do/} + ${attachDto.idAttach} + '/' + ${attachDto.snFileAttach}" />
        </div>

    <!-- 수정/삭제 -->



        <div class="col s12 center-align">

            <form name="delete-form" id="delete-form" th:action="@{'/popup/post/delete/' + ${popupinfoDto.popupSeq}}" method="post">
                <input type="hidden" name="_method" value="delete"/>
                <a th:href="@{'/popup/post/edit/' + ${popupinfoDto.popupSeq}}" id="submitBtn"><i class="small material-icons" style="color: rgba(255, 255, 255, 1);">settings</i></a>
                <a onclick="return confirm('삭제 하시겠습니까?');" href="javascript:document.getElementById('delete-form').submit();" id="delete-btn"><i class="small material-icons" style="color: rgba(255, 255, 255, 1);">delete_outline</i></a>
            </form>
        </div>



</div>

</html>