<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="../layout/default">

<!-- page CSS -->
<th:block layout:fragment="css">
</th:block>

<!-- page 스크립트 -->
<th:block layout:fragment="script">
    <script>
        function crudSubmit(){
            $('#popupForm').submit();
        }

        $(document).ready(function(){
            CKEDITOR.replace('contents');

            $('.img-input').change(function(){
                imgComn.drawThumnail(this);
            });

            $('.img-input').click(function(){
                $('.img-input').val('');
            });

            $('.column').click(function(){

                $('.img-input').eq(0).val('');
                $('.img-input').click();
            });


            $('#submitBtn').click(function() {
                crudSubmit();
            });

            $('.img-remove-btn').click(function(e){
                // 삭제버튼 클릭
                $(this).parent().remove();
                let emptyColumn = document.createElement('div');
                emptyColumn.setAttribute('class', 'column');
                emptyColumn.onclick = function(e){
                    $('.img-input').eq(0).val('');
                    $('.img-input').click();
                };
                $('.img-row').append(emptyColumn);
                e.stopPropagation();
            });


        });





        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('select');
            var options = document.querySelectorAll('option');
            var instances = M.FormSelect.init(elems, options);
            /* var elems2 = document.querySelectorAll('.datepicker');
             var instances2 = M.Datepicker.init(elems2, options);*/
            elems = document.querySelectorAll('.datepicker');
            instances = M.Datepicker.init(elems, options);

        })

        // Or with jQuery

        $(document).ready(function(){
            $('.datepicker').datepicker();
        });


        function goDetail(popupSeq) {
            location.href="/popup/detail.do?popupSeq="+popupSeq;
        }


    </script>
    <script th:inline="javascript" th:src="@{/static/js/crud.js}"></script>
</th:block>

<div layout:fragment="content" class="container"  >
    <form id="popupForm" th:action="@{'/popup/update.do'}" method="post">
        <input type="hidden" name="_method" value="put"/>
        <input type="hidden" name="popupSeq" th:value="${popupinfoDto.popupSeq}"/>
        <input type="hidden" id="delYn" name="delYn" value="N">
        <!--
                <input type="hidden" id="popYn" name="popYn" value="Y">
        -->

        <div class="input-field col s12">
            <i class="material-icons prefix">title</i>
            <input type="text" class="validate" id="popupTitle" name="popupTitle" required="" maxlength="100" th:value="${popupinfoDto.popupTitle}">
            <label for="popupTitle">제목</label>
        </div>
        <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input type="text" id="popupWriter" name="popupWriter" th:value="${popupinfoDto.popupWriter}"><br>
            <label for="popupWriter">작성자</label>
        </div>
        <div class="input-field col s12">
            <i class="material-icons prefix">http</i>
            <input type="text" id="popupUrl" name="popupUrl" th:value="${popupinfoDto.popupUrl}"><br>
            <label for="popupUrl">팝업Url</label>
        </div>
        <div class="input-field col s12">
            <i class="material-icons prefix">check</i>
            <select  id="popYn" name="popYn" >
                <option>Y</option>
                <option>N</option>
            </select>
            <label>팝업 사용 여부</label>
        </div>
        <div class="input-field col s12">
            <i class="material-icons prefix">event_available</i>
            <input type="text" id="popupStartDt" name ="popupStartDt"  th:value="${popupinfoDto.popupStartDt}" class="datepicker">
            <label >팝업게시기간</label>
        </div>
        <div class="input-field col s12">
            <i class="material-icons prefix">event_busy</i>
            <input type="text" id="popupEndDt" name ="popupEndDt" class="datepicker">
            <label >팝업종료기간</label>
        </div>

        <!--제목 : <input type="text" name="popupTitle" th:value="${popupinfoDto.popupTitle}"> <br>
        작성자 : <input type="text" name="popupWriter" readonly="readonly" th:value="${popupinfoDto.popupWriter}"> <br>-->
        <textarea name="contents"><th:block th:utext="${popupinfoDto.contents}"></th:block></textarea><br>

        <div class="img-container">
            <div class="large-slide" th:style="'background-image: url(/attach/resizeImgView.do?idAttach=' + ${popupinfoDto.attachId} + '&snFileAttach=' + '1' + ');'">
                <div id="numbertext" class="numbertext"></div>
            </div>

            <a class="prev" onclick="plusSlides(-1)"> < </a>
            <a class="next" onclick="plusSlides(1)"> > </a>
            <div  style="text-align: center; margin: 0 auto;" >
                <div class="img-row" th:if="${attachDtoList.size()>0}">
                    <div th:each="attachDto : ${attachDtoList}" class="column">
                        <img class="slide-img cursor" th:style="'background-image: url(/attach/resizeImgView.do?idAttach=' + ${attachDto.idAttach} + '&snFileAttach=' + ${attachDto.snFileAttach} + ');'"/>
                        <i class="tiny material-icons img-remove-btn">remove_circle</i>
                    </div>
                </div>
                <div class="img-row" th:if="${attachDtoList.size()<1}" >
                    <div class="column">파일 업로드</div>

                </div>
            </div>
        </div>
        <input type="file" id="img-input" class="img-input" multiple accept="image/*" style="display: none;"/>
        <div class="row">
            <div class="col s12 center-align">
                <a onclick="return confirm('수정 하시겠습니까?');" href="javascript:document.getElementById('popupForm').submit();" id="update-btn"><i class="medium material-icons" style="color: rgba(255, 255, 255, 1);">save_alt</i></a>
            </div>
        </div>

    </form>
</div>
</html>
