<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="../layout/default">

<!-- page CSS -->
<th:block layout:fragment="css">
</th:block>

<!-- page 스크립트 -->
<th:block layout:fragment="script">
    <script>
        let slideIndex = 0;
        function plusSlides(n) {
            slideIndex += n
            // 이미지가 존재하는 범위내에 있는지 체크
            if(slideIndex > 5) {
                slideIndex = 0;
            } else if(slideIndex < 0) {
                slideIndex = 5;
            }
            showSlides(slideIndex);
        }

        function showSlides(n) {
            let dots = $('.slide-img');
            if(dots.length > 0) {
                dots.removeClass('active');
                let imgSrc = dots.eq(n).css('background-image');
                if(typeof(imgSrc) != "undefined") {
                    imgSrc = imgSrc.replace('url(','').replace(')','').replace(/\"/gi, "");
                    $('.large-slide').eq(0).css({'background-image' : 'url('+ imgSrc +')'});
                }
                dots.eq(n).addClass('active');
                $('#numbertext').text((Number(n)+1) + '/ 6');
            }
        }

        function drawThumnail(input) {
            if (input.files && input.files[0]) {
                // 현재 썸네일 이미지가 몇개인지 가져옴
                let count = $('.slide-img').length;
                let imgLimit = 6 - count;
                let loopLimit = input.files.length > imgLimit ? imgLimit : input.files.length;

                // 6 - (썸네일 이미지 개수) 만큼 반복 돌면서 썸네일 이미지 추가
                for(let i = 0; i < loopLimit; i++) {
                    let reader = new FileReader();
                    reader.onload = function (e) {
                        let slideImg = document.createElement('img'); // 썸네일 이미지
                        slideImg.setAttribute('class', 'slide-img cursor');
                        slideImg.setAttribute('style', 'background-image: url('+ e.target.result +');');
                        slideImg.onclick = function(e){
                            alert('이미지 클릭');
                            e.stopPropagation();
                        };
                        $('.column').eq(count).html(slideImg);

                        let removeIcon = document.createElement('i'); // 삭제버튼
                        removeIcon.setAttribute('class', 'tiny material-icons img-remove-btn');
                        removeIcon.append(document.createTextNode('remove_circle'));
                        removeIcon.onclick = function(e){
                            // 삭제버튼 클릭
                            $(this).parent().remove();
                            let emptyColumn = document.createElement('div');
                            emptyColumn.setAttribute('class', 'column');
                            emptyColumn.onclick = function(e){
                                $('.img-input').click();
                            };
                            $('.img-row').append(emptyColumn);
                            e.stopPropagation();
                        };
                        $('.column').eq(count).append(removeIcon);

                        let image = document.createElement('input'); // 서버로 전송할 이미지 데이터
                        image.setAttribute('type', 'hidden');
                        image.setAttribute('name', 'image');
                        image.setAttribute('value', e.target.result.split(',')[1]);
                        $('.column').eq(count).append(image);

                        let imageName = document.createElement('input'); // 전송할 이미지명
                        imageName.setAttribute('type', 'hidden');
                        imageName.setAttribute('name', 'imageName');
                        imageName.setAttribute('value', input.files[i].name);
                        $('.column').eq(count).append(imageName);

                        let imageSize = document.createElement('input'); // 전송할 이미지 크기
                        imageSize.setAttribute('type', 'hidden');
                        imageSize.setAttribute('name', 'imageSize');
                        imageSize.setAttribute('value', input.files[i].size);
                        $('.column').eq(count).append(imageSize);

                        if(i == loopLimit-1) { // 마지막 이미지를 크게 표시
                            showSlides(count);
                            slideIndex = count;
                        }
                        count++;
                    }
                    reader.readAsDataURL(input.files[i]);
                }
            }
        }

        function crudSubmit(){
            $('#popupForm').submit();
        }

        $(document).ready(function(){
            CKEDITOR.replace( 'contents',{
            filebrowserUploadUrl: '/attach/ckImgUpload.do',
            toolbarGroups: [
                { name: 'editing',     groups: [ 'find', 'selection' ] },
                { name: 'insert' },
                { name: 'forms' },
                { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] }
            ],
            image_previewText: ' '
        });

            CKEDITOR.on('dialogDefinition', function (ev) {
                var dialogName = ev.data.name;
                var dialogDefinition = ev.data.definition;
                var dialog = ev.data.definition.dialog;

                if (dialogName == 'image') {
                    dialog.on('show', function () {
                        this.selectPage('Upload');
                    });
                    var infoTab = dialogDefinition.getContents( 'info' );
                    infoTab.remove('txtBorder');
                    infoTab.remove('txtHSpace');
                    infoTab.remove('txtVSpace');
                    infoTab.remove('txtWidth');
                    infoTab.remove('txtHeight');
                    infoTab.remove('txtAlt');
                    infoTab.remove('cmbAlign');
                    infoTab.remove('ratioLock');
                }
            });

                $('.img-input').change(function(){
                drawThumnail(this);
            });

            $('.column').click(function(){
                $('.img-input').click();
            });

            $('#submitBtn').click(function() {
                crudSubmit();
            });
        });

        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('select');
            var options = document.querySelectorAll('option');
            var instances = M.FormSelect.init(elems, options);
           /* var elems2 = document.querySelectorAll('.datepicker');
            var instances2 = M.Datepicker.init(elems2, options);*/
             elems = document.querySelectorAll('.datepicker');
             instances = M.Datepicker.init(elems, options);

        })

        // Or with jQuery

        $(document).ready(function(){
            $('.datepicker').datepicker();
        });


    /*    $(document).ready(function() {
            $('select').material_select();
        });*/


    </script>
    <script th:inline="javascript" th:src="@{/static/js/crud.js}"></script>
</th:block>

<div layout:fragment="content" class="container" >
    <form id="popupForm" action="/popup/post" method="post">
        <input type="hidden" id="delYn" name="delYn" value="N">
       <!-- <input type="hidden" id="popYn" name="popYn" value="Y">-->
        <div class="input-field col s12">
            <i class="material-icons prefix">title</i>
            <input type="text" class="validate" id="popupTitle" name="popupTitle" required="" maxlength="100">
            <label for="popupTitle">제목</label>
        </div>
        <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input type="text" id="popupWriter" name="popupWriter"><br>
            <label for="popupWriter">작성자</label>
        </div>
        <div class="input-field col s12">
            <i class="material-icons prefix">http</i>
            <input type="text" id="popupUrl" name="popupUrl"><br>
            <label for="popupWriter">팝업Url</label>
        </div>
       <div class="input-field col s12">
           <i class="material-icons prefix">check</i>
           <select  id="popYn" name="popYn">
                 <option>Y</option>
                 <option>N</option>
             </select>
           <label>팝업 사용 여부</label>
       </div>
        <div class="input-field col s12">
            <i class="material-icons prefix">event_available</i>
            <input type="text" id="popupStartDt" name ="popupStartDt" class="datepicker">
            <label >팝업게시기간</label>
        </div>
        <div class="input-field col s12">
            <i class="material-icons prefix">event_busy</i>
            <input type="text" id="popupEndDt" name ="popupEndDt" class="datepicker">
            <label >팝업종료기간</label>
        </div>
        <div>
            <textarea name="contents"></textarea><br>
        </div>
        <div class="img-container">
            <div class="large-slide">
                <div id="numbertext" class="numbertext"></div>
            </div>

            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>
            <div  style="text-align: center; margin: 0 auto;" >
                <div class="img-row" >
                    <div class="column">파일 업로드</div>
                </div>
            </div>
        </div>
            <input type="file" id="img-input" class="img-input" multiple accept="image/*" style="display: none;"/>

        <div class="row">
            <div class="col s12 center-align">
                <!-- <a class="waves-effect waves-light btn-small" id="submitBtn">등록</a> -->
                <a id="submitBtn" th:href="@{/popup/post}">
                    <i class="large material-icons" style="color: rgba(255, 255, 255, 1);">edit</i>
                </a>
            </div>
        </div>
    </form>
</div>
</html>
