<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="../layout/default">

<!-- page CSS -->
<th:block layout:fragment="css">
    <style>
        .about-header {
            font-weight: bold;
            font-size: 26.5pt;
            font-family: New MingLiu;
            color: rgb(38, 166, 154);
            line-height: 40px;
        }

        .about-caption {
            font-size: 12pt;
            font-family: New MingLiu;
            word-break: keep-all;
            line-height: 28px;
        }
    </style>
</th:block>
<!-- page 스크립트 -->
<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content" >

    <div class="section no-pad-bot" id="index-banner">
        <div class="background">

       </div>
        <script>
            $(document).ready(function(){$('.slider').bxSlider({
                auto: true,speed: 500,
                pause: 4000,
                responsive: true,
                mode:'fade',
                autoControls: false,
                controls:false,
                captions: true, //캡션사용
                touchEnabled : (navigator.maxTouchPoints > 0),
                pager:true,});
            });


            function aa() {
                var openNewWindow = window.open("about:blank");
                openNewWindow.location.href = "http://www.naver.com";
            }

        </script>




        <div class="container full">
            <ul>
                <li>
                    <div>
                        <h1 class="header center orange-text">What's We</h1>
                        <a href="#" class="full-wrapper" style="background: url(/static/image/bike-sunset.jpg); background-size: cover; background-position: center center;">
                        </a>
                    </div>
                </li>
            </ul>
        </div>




    </div>


    <div class="container">
        <p style="text-align: left;">
            <b style="font-family: &quot;맑은 고딕&quot; font-size: 10pt; text-align: left;">
                <span style="font-size: 28pt; font-family: &quot;New MingLiu&quot;; color: rgb(38, 166, 154);">
                We are Bike go
                </span>
            </b>
        </p>
        <p align="left" style="margin: 0px 0px 0px; font-size: 10pt; font-family: 맑은 고딕; text-align: left; line-height: normal; word-break: keep-all"><span style="font-size: 12pt; font-family: &quot;New MingLiu&quot;;">자전거로 행복하고 건강한 생활을 만들어 갑니다.</span></p>
        <p align="left" style="margin: 0px 0px 0px; font-size: 10pt; font-family: 맑은 고딕; text-align: left; line-height: normal; word-break: keep-all"><span style="font-size: 12pt; font-family: &quot;New MingLiu&quot;;">인류역사상 가장 위대한 발명품중 하나인 자전거.</span></p>
        <p align="left" style="margin: 0px 0px 0px; font-size: 10pt; font-family: 맑은 고딕; text-align: left; line-height: normal; word-break: keep-all"><span style="font-size: 12pt; font-family: &quot;New MingLiu&quot;;">어쩌면 처음 시도해보는 전국단위의 자전거출장 / 정비 서비스업을 목표로 모인</span></p>
        <p align="left" style="margin: 0px 0px 0px; font-size: 10pt; font-family: 맑은 고딕; text-align: left; line-height: normal; word-break: keep-all"><span style="font-size: 12pt; font-family: &quot;New MingLiu&quot;;">전국의 뜻있는<span style="font-family: &quot;New MingLiu&quot;; font-size: 12pt;">&nbsp; </span>자전거매장들이 이제 새로운 도전을 해봅니다.</span></p>
        <p align="left" style="margin: 0px 0px 0px; font-size: 10pt; font-family: 맑은 고딕; text-align: left; line-height: normal; word-break: keep-all"><span style="font-size: 12pt; font-family: &quot;New MingLiu&quot;;">그동안의 서비스와는 다른 매장과 라이더분들의 상생서비스를 목표로 합니다.</span></p>
        <p align="left" style="margin: 0px 0px 0px; font-size: 10pt; font-family: 맑은 고딕; text-align: left; line-height: normal; word-break: keep-all"><span style="font-size: 12pt; font-family: &quot;New MingLiu&quot;;">&nbsp;</span></p>
        <p align="left" style="margin: 0px 0px 0px; font-size: 10pt; font-family: 맑은 고딕; text-align: left; line-height: normal; word-break: keep-all"><span style="font-size: 12pt; font-family: &quot;New MingLiu&quot;;">라이더분들에게 꼭 필요한 서비르로 더욱 가깝게 다가가기위해 노력하겠습니다.</span></p>
        <p align="left" style="margin: 0px 0px 0px; font-size: 10pt; font-family: 맑은 고딕; text-align: left; line-height: normal; word-break: keep-all"><span style="font-size: 12pt; font-family: &quot;New MingLiu&quot;;">관심 가져주시고 함께해주실것을 부탁드립니다.</span></p>
        <h4 class="header about-header">새 자전거를 구매하려고 생각하십니까?</h4>
        <p class="caption about-caption">
            새롭게 구매하기 망설이는 분들에게 사용중인 자전거를 수리해서 다시 재사용 가능하도록 하는 것이 우리의 주된사업입니다.<br><br>
            로드 및 산악 자전거의 기본 구성은 주로 알루미늄과 카본으로 이루어져 있으며, 안전하고 내구성이 뛰어난, 그리고 재미있는 스포츠 입니다.<br>
            자전거는 사고만 없다면 그 수명은 수십년 이상으로 정비후 재사용이 가능합니다.<br>
            이러한 이유로 우리는 각지역의 자전거 전문점에서 수리가 가능한 서비스를 하고 있습니다.<br>
            우리는 라이더분들의 올바른 자전거사용법 안내와 정비서비스를 받을 기회를 제공하여 드리고 있습니다.<br>
            전문 바이시클 미케닉이 양질의 서비스를 제공하며, 상황에 따라 현장 수리가 필요한경우 지원해드리고 있습니다.<br>
        </p>
        <br>
        <br>
        <h4 class="header about-header">바이크고에서 자전거를 구입하면?</h4>
        <ul class="browser-default caption about-caption" style="list-style: disc; padding-left: 24px;">
            <li>제조업체의 결함에 대한 프레임의 보증</li>
            <li>제조업체의 부품 결함에 대해 최소 1 년</li>
            <li>1 년간 베이직 서비스 무료 (스폐셜그레이드의 서비스 선택)</li>
            <li>자전거 구매시 선택한 액세서리 할인판매</li>
            <li>단체/개인의 자전거 구매에 대한 상담 및 문의</li>
            <li>단체 구매회원분들을 위한 출장정비 서비스 지원 ( 단체라이딩시 지원 )</li>
            <li>구매합계금액이 3개월간 1백만원 이상시 출장서비스 연 1회 무료지원 해드립니다.</li>
        </ul>
        <br>
        <br>
        <h4 class="header about-header">바이크고에 의뢰 해야하는 8 가지이유</h4>
        <br>
        <h5 class="header about-header" style="font-size: 18pt;">1. 우리는 라이더분들에게 알맞은 자전거를 가지고 있습니다.</h5>
        <p class="caption about-caption">
            우리는 다양한 사람과 용도에 맞는 다양한 자전거를 제공합니다.<br>
            또한 올바른 자전거 유형과 모델을 선택하는 데 전문가의 도움을 제공합니다. 예비라이더 혹은 라이더분들의 성향에 맞는 자전거 유형이 필요하며,<br>
            이런선택시  숙련 된 미케닉이 고객의 의견을 듣고 선택하도록 도와 드릴 것입니다.<br>
        </p>
        <br>
        <h5 class="header about-header" style="font-size: 18pt;">2. 우리는 판매하는 모든 자전거에 대해 알맞은 사이즈를 보장합니다.</h5>
        <p class="caption about-caption">
            자전거의 사이즈는 다양하며, 각 제조사에 따라 그 지오메트리는 매우 다른 성격을 가지고 있습니다.<br>
            적합한 프레임 크기를 찾은 다음 필요에 따라 시트와 핸들 바, 브레이크 레버 및 변속레버를 재배치하여 조정할수 있습니다.<br>
            우리의 목표는 자전거를 타기 편하게 느끼며, 라이딩하는 시간동안 보다 라이딩에 집중할수 있게 도와드리는 것이 목표입니다.<br>
            우리는 라이더에게 자전거를 선택하는데 수년간의 경험을 가지고 있으며 라이더의 몸에 맞는 자전거의 선택에 도움을 드립니다.<br>
        </p>
        <br>
        <h5 class="header about-header" style="font-size: 18pt;">3. 우리의 모든 자전거는 전문 자전거 미케닉에 의해 조립됩니다.</h5>
        <p class="caption about-caption">
            자전거의 배송은 완성차라 할지라도 분해되어 박스로 배송되어 옵니다.<br>
            우리는 이 모든 자전거를 조립, 튜닝 및 테스트에 (추가 비용없이) 약 1 시간 이상을 (모델에 따라 다름) 보냅니다.<br>
            또한, 미케닉은 항상 구매중 또는 판매 후에 도움이 필요한 경우 기술적인 서비스를 제공 할 준비가되어 있습니다.<br>
        </p>
        <br>
        <h5 class="header about-header" style="font-size: 18pt;">4. 우리의 풍부한 경험을 여러분에게 제공합니다.</h5>
        <p class="caption about-caption">
            우리는 전문 지식을 공유하고자 하는 그룹이며,<br>
            각 미케닉은 지식이 풍부하며, 열정적인 구성원으로 이루어져 있습니다.<br>
            변속, 라이딩방법, 혹은 가장 기본적인 관리방법 등..<br>
            문의 주시면 기꺼이 도와 드리겠습니다.<br>
        </p>
        <br>
        <h5 class="header about-header" style="font-size: 18pt;">5. 우리가 판매한 자전거는 1년 2회 무료서비스가 제공 됩니다!</h5>
        <p class="caption about-caption">
            자전거는 정비가 필요한 기계입니다.<br>
            가장 중요한 서비스 중 하나는 첫 번째 튠업입니다.<br>
            새 자전거를 구입후 며칠 혹은 몇주후에 발생할수 있는 문제에 대해 서비스를 지원하고 있습니다.<br>
            케이블이 늘어나거나 스포크가 느슨해 지거나 조정이 간단한 경정비가 필요해질수 있습니다.<br>
            새 장비를 최대한 오래 타고, 오래 사용할 수 있도록 철저히 점검 할 수있는 무료 튠업 서비스를 제공합니다.<br><br>
             
            그 이후에 다른 사항에 대해 튠업/업그레이드 해야 할 경우 첫해 동안 기본적인 서비스는 무료입니다.<br>
        </p>
        <br>
        <h5 class="header about-header" style="font-size: 18pt;">6. 우리의 모든 자전거는 보증됩니다.</h5>
        <p class="caption about-caption">
            우리가 판매하는 모든 자전거에는 각 매장이 책임감있게 적극적으로 대처해 드립니다.<br>
            문제가 발생하여 찾아주시면 우리는 적극적으로 서비스를 지원하겠습니다.<br>
            드물게 고장이 발생하는 경우 제조업체의 보증을 최대한 받으실수 있게 라이더 분들의 입장에서 대변해 드리겠습니다.<br>
            우리가 판매하는 모든 자전거는 모두 정식통관된 제품이며,<br>
            이는 일정기간의 워런티가 보장됨을 잊지 말아주십시요.<br>
        </p>
        <br>
        <h5 class="header about-header" style="font-size: 18pt;">7. 자전거의 품질 및 중고거래시 판매를 위해 지원하여 드립니다.</h5>
        <p class="caption about-caption">
            정기적 인 관리 및 유지 관리만으로도 상당히 컨디션이 좋은 자전거로 유지가 가능합니다.<br>
            그리고, 만약 업그레이드하기로 결정하였다면 자전거를 좋은 가격에 판매 할 수 있게 서비스를 지원하여 드립니다.<br>
            (중고거래시 기본서비스 제공으로 보다 가치있는 판매를 도와드립니다.)<br>
            일부기종의 경우 우리가 직접 매입하고 있습니다.<br>
        </p>
        <br>
        <h5 class="header about-header" style="font-size: 18pt;">8. 우리는 라이더의 새로운 자전거와 함께 할수 있는 모든 최고의 액세서리를 가지고 있습니다.</h5>
        <p class="caption about-caption">
            자전거는 적절한 장비를 가지고있을 때 가장 재미 있습니다.<br>
            우리는 헬멧, 자물쇠, 펌프, 싸이클링 속도계, 인도어트레이너 등.<br>
            자전거를 즐기는 데 도움이 되는 많은 다른 제품과 액세서리 및 장비가 준비되어  있습니다.<br>
            그리고 어떤 제품이 라이더에게 적합한 제품인지 안내드리고 있습니다.<br>
        </p>
        <br><br>
    </div>
</div>
</html>