<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="../layout/default">

<!-- page CSS -->
<th:block layout:fragment="css">
</th:block>




<!-- page 스크립트 -->
<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content" >

    <div class="section no-pad-bot" id="index-banner">
        <div class="background">

       </div>
        <script>
            $(document).ready(function(){$('.slider').bxSlider({
                auto: true,speed: 500,
                pause: 4000,
                responsive: true,
                mode:'fade',
                autoControls: false,
                controls:false,
                captions: true, //캡션사용
                touchEnabled : (navigator.maxTouchPoints > 0),
                pager:true,});
            });


            function aa() {
                var openNewWindow = window.open("about:blank");
                openNewWindow.location.href = "http://www.naver.com";
            }

        </script>




        <div class="container full">
            <ul>
                <li>
                    <div>
                        <h1 class="header center orange-text">What's We</h1>
                        <a href="#" class="full-wrapper" style="background: url(/static/image/bike-sunset.jpg); background-size: cover; background-position: center center;">
                        </a>
                    </div>
                </li>
            </ul>
        </div>




    </div>


    <div class="container">
        <p style="text-align: left;">
            <b style="font-family: &quot;맑은 고딕&quot; font-size: 10pt; text-align: left;">
                <span style="font-size: 28pt; font-family: &quot;New MingLiu&quot;; color: rgb(38, 166, 154);">
                We are Bike go
                </span>
            </b>
        </p>
        <p align="left" style="margin: 0px 0px 0px; font-size: 10pt; font-family: 맑은 고딕; text-align: left; line-height: normal; word-break: keep-all"><span style="font-size: 12pt; font-family: &quot;New MingLiu&quot;;">자전거로 행복하고 건강한 생활을 만들어 갑니다.</span></p>
        <p align="left" style="margin: 0px 0px 0px; font-size: 10pt; font-family: 맑은 고딕; text-align: left; line-height: normal; word-break: keep-all"><span style="font-size: 12pt; font-family: &quot;New MingLiu&quot;;">인류역사상 가장 위대한 발명품중 하나인 자전거.</span></p>
        <p align="left" style="margin: 0px 0px 0px; font-size: 10pt; font-family: 맑은 고딕; text-align: left; line-height: normal; word-break: keep-all"><span style="font-size: 12pt; font-family: &quot;New MingLiu&quot;;">어쩌면 처음 시도해보는 전국단위의 자전거출장 / 정비 서비스업을 목표로 모인</span></p>
        <p align="left" style="margin: 0px 0px 0px; font-size: 10pt; font-family: 맑은 고딕; text-align: left; line-height: normal; word-break: keep-all"><span style="font-size: 12pt; font-family: &quot;New MingLiu&quot;;">전국의 뜻있는<span style="font-family: &quot;New MingLiu&quot;; font-size: 12pt;">&nbsp; </span>자전거매장들이 이제 새로운 도전을 해봅니다.</span></p>
        <p align="left" style="margin: 0px 0px 0px; font-size: 10pt; font-family: 맑은 고딕; text-align: left; line-height: normal; word-break: keep-all"><span style="font-size: 12pt; font-family: &quot;New MingLiu&quot;;">그동안의 서비스와는 다른 매장과 라이더분들의 상생서비스를 목표로 합니다.</span></p>
        <p align="left" style="margin: 0px 0px 0px; font-size: 10pt; font-family: 맑은 고딕; text-align: left; line-height: normal; word-break: keep-all"><span style="font-size: 12pt; font-family: &quot;New MingLiu&quot;;">&nbsp;</span></p>
        <p align="left" style="margin: 0px 0px 0px; font-size: 10pt; font-family: 맑은 고딕; text-align: left; line-height: normal; word-break: keep-all"><span style="font-size: 12pt; font-family: &quot;New MingLiu&quot;;">라이더분들에게 꼭 필요한 서비르로 더욱 가깝게 다가가기위해 노력하겠습니다.</span></p>
        <p align="left" style="margin: 0px 0px 0px; font-size: 10pt; font-family: 맑은 고딕; text-align: left; line-height: normal; word-break: keep-all"><span style="font-size: 12pt; font-family: &quot;New MingLiu&quot;;">관심 가져주시고 함께해주실것을 부탁드립니다.</span></p>

        <p style="text-align: left;"><b style="font-family: &quot;맑은 고딕&quot;; font-size: 10pt; text-align: left;"><span style="font-size: 26.5pt; font-family: &quot;New MingLiu&quot;; color: rgb(38, 166, 154);">&nbsp;</span></b></p>
        <p style="text-align: left;"><b style="font-family: &quot;맑은 고딕&quot;; font-size: 10pt; text-align: left;"><span style="font-size: 26.5pt; font-family: &quot;New MingLiu&quot;; color: rgb(38, 166, 154);">새 자전거를 구매하려고 생각하십니까?</span></b></p>
        <p style="font-size: 10pt; font-family: &quot;맑은 고딕&quot;; margin: 22px 0px 11px; text-align: center; line-height: normal; word-break: keep-all;"><b><span style="font-size: 26.5pt; font-family: &quot;New MingLiu&quot;; color: rgb(51, 51, 51);">&nbsp;</span></b></p>
        <p style="margin: 0px 0px 11px; font-size: 10pt; font-family: &quot;맑은 고딕&quot;; text-align: left; line-height: normal; word-break: keep-all;"><span style="font-size: 12pt; font-family: &quot;New MingLiu&quot;;">새롭게 구매하기 어려운 분들에게 사용중인 자전거를 구리해서 다시 재사용 가능하도록 하는 것이 우리의 주된사업입니다.<br>
<br>
현대식 도로 및 산악 자전거의 기본 구성은 주로 알루미늄과 카본으로 이루어져 테스트되는 이유로 안전하고 내구성이 뛰어나고 재미있는 레포츠 입니다.&nbsp;</span></p>
        <p style="margin: 0px 0px 11px; font-size: 10pt; font-family: &quot;맑은 고딕&quot;; text-align: left; line-height: normal; word-break: keep-all;"><span style="font-family: &quot;New MingLiu&quot;; font-size: 12pt;">그 수명은 사고만 없다면 수십년 이상으로 정비후 사용이 가능합니다.</span></p>
        <p style="margin: 0px 0px 11px; font-size: 10pt; font-family: &quot;맑은 고딕&quot;; text-align: left; line-height: normal; word-break: keep-all;"><span style="font-size: 12pt; font-family: &quot;New MingLiu&quot;;"><br>
이러한 이유로 우리는 지역의 자전거 전문점에서 수리가 가능하도록 도와드립니다.&nbsp;예를 들어, 우리는 당신이 올바른 자전거사용법과 서비스를 받을 기회를 드리고 있습니다.</span></p>
        <p style="margin: 0px 0px 11px; font-size: 10pt; font-family: &quot;맑은 고딕&quot;; text-align: left; line-height: normal; word-break: keep-all;"><span style="font-size: 12pt; font-family: &quot;New MingLiu&quot;;">전문 바이시클 미케닉이 양질의 서비스를 제공하며, 현장 수리 필요한경우 지원해드리고 있습니다.</span></p>
        <p style="font-size: 10pt; font-family: &quot;맑은 고딕&quot;; margin: 22px 0px 11px; text-align: left; line-height: normal; word-break: keep-all;"><b><span style="font-size: 26.5pt; font-family: &quot;New MingLiu&quot;; color: rgb(51, 51, 51);">&nbsp;</span></b></p>


        <p style="text-align: left;"><b style="font-family: &quot;맑은 고딕&quot; font-size: 10pt; text-align: left;"><span style="font-size: 26.5pt; font-family: &quot;New MingLiu&quot;; color: rgb(38, 166, 154);">바이크고에 자전거를 의뢰하면?</span></b></p>


        <p style="font-size: 10pt; font-family: &quot;맑은 고딕&quot;; margin: 22px 0px 11px; text-align: left; line-height: normal; word-break: keep-all;">&nbsp;</p>
        <p style="margin: 0px 0px 13px 33px; font-size: 10pt; font-family: &quot;맑은 고딕&quot;; text-align: left; text-indent: -18pt; line-height: normal; word-break: keep-all;"><span style="font-family: &quot;New MingLiu&quot;;">&middot;<span style="font: 7pt &quot;New MingLiu&quot;;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size: 12pt; font-family: &quot;New MingLiu&quot;;">제조업체의 결함에 대한 프레임의 평생 보증</span></p>
        <p style="margin: 0px 0px 13px 33px; font-size: 10pt; font-family: &quot;맑은 고딕&quot;; text-align: left; text-indent: -18pt; line-height: normal; word-break: keep-all;"><span style="font-family: &quot;New MingLiu&quot;;">&middot;<span style="font: 7pt &quot;New MingLiu&quot;;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size: 12pt; font-family: &quot;New MingLiu&quot;;">제조업체의 결함에 대해 부품에 대해 최소 1 년</span></p>
        <p style="margin: 0px 0px 13px 33px; font-size: 10pt; font-family: &quot;맑은 고딕&quot;; text-align: left; text-indent: -18pt; line-height: normal; word-break: keep-all;"><span style="font-family: &quot;New MingLiu&quot;;">&middot;<span style="font: 7pt &quot;New MingLiu&quot;;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size: 12pt; font-family: &quot;New MingLiu&quot;;">1 </span><span style="font-size: 12pt; font-family: &quot;New MingLiu&quot;;">년간 무제한 필요한 서비스 (스폐셜그레이드의 서비스 선택)&nbsp;</span></p>
        <p style="margin: 0px 0px 13px 33px; font-size: 10pt; font-family: &quot;맑은 고딕&quot;; text-align: left; text-indent: -18pt; line-height: normal; word-break: keep-all;"><span style="font-family: &quot;New MingLiu&quot;;">&middot;<span style="font: 7pt &quot;New MingLiu&quot;;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size: 12pt; font-family: &quot;New MingLiu&quot;;">자전거 구매시 선택한 액세서리 10 % 할인</span></p>
        <p style="margin: 0px 0px 13px 33px; font-size: 10pt; font-family: &quot;맑은 고딕&quot;; text-align: left; text-indent: -18pt; line-height: normal; word-break: keep-all;"><span style="font-family: &quot;New MingLiu&quot;;">&middot;<span style="font: 7pt &quot;New MingLiu&quot;;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size: 12pt; font-family: &quot;New MingLiu&quot;;">단체 자전거 구매 할인에 대해 상담 및 문의.</span></p>
        <p style="margin: 0px 0px 13px 33px; font-size: 10pt; font-family: &quot;맑은 고딕&quot;; text-align: left; text-indent: -18pt; line-height: normal; word-break: keep-all;"><span style="font-family: &quot;New MingLiu&quot;;">&middot;<span style="font: 7pt &quot;New MingLiu&quot;;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size: 12pt; font-family: &quot;New MingLiu&quot;;">구매합계금액이 6개월간 1백만원 이상시 피팅서비스를 무료로 해드립니다.&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></p>
        <p style="text-align: left; font-size: 10pt; font-family: &quot;맑은 고딕&quot;; margin: 22px 0px 11px; line-height: normal; word-break: keep-all;">&nbsp;</p>

        <p style="text-align: left;"><b style="font-family: &quot;맑은 고딕&quot; font-size: 10pt; text-align: left;"><span style="font-size: 26.5pt; font-family: &quot;New MingLiu&quot;; color: rgb(38, 166, 154);">바이크고에 의뢰 해야하는 9 가지이유</span></b></p>

        <p style="text-align:justify;font-size:10pt;font-family:맑은 고딕;margin:22px 0px 11px;line-height:normal;word-break:keep-all;"><b><span style="font-size: 26.5pt; font-family: &quot;New MingLiu&quot;; color: rgb(51, 51, 51);">&nbsp;</span></b></p>

        <p style="text-align: left;">
            <b style="font-family: &quot;맑은 고딕&quot; font-size: 10pt; text-align: left;">
                <span style="font-size: 19pt; font-family: &quot;New MingLiu&quot;; color: rgb(38, 166, 154);">
                1. 우리는 당신에게 맞는 자전거를 가지고 있습니다.
                </span>
            </b>
        </p>


        <p align="left" style="margin:0px 0px 0px;font-size:10pt;font-family:맑은 고딕;text-align:left;line-height:normal;word-break:keep-all;"><span style="font-size: 12pt; font-family: &quot;New MingLiu&quot;;">우리는 다양한 사람과 용도에 맞는 다양한 자전거를 제공합니다.&nbsp;</span></p>
        <p align="left" style="margin:0px 0px 0px;font-size:10pt;font-family:맑은 고딕;text-align:left;line-height:normal;word-break:keep-all;"><span style="font-size: 12pt; font-family: &quot;New MingLiu&quot;;">또한 올바른 자전거 유형과 모델을 선택하는 데 전문가의 도움을 제공합니다. 에게 맞는 자전거 유형이 필요하며 숙련 된 직원이 귀하의 의견을 듣고 선택하도록 도와 드릴 것입니다.</span></p>
        <p align="left" style="font-size:10pt;font-family:맑은 고딕;margin:11px 0px;text-align:left;line-height:normal;word-break:keep-all;"><b><span style="font-size: 19pt; font-family: &quot;New MingLiu&quot;; color: rgb(51, 51, 51);">&nbsp;</span></b></p>

        <p style="text-align: left;">
            <b style="font-family: &quot;맑은 고딕&quot; font-size: 10pt; text-align: left;">
                <span style="font-size: 19pt; font-family: &quot;New MingLiu&quot;; color: rgb(38, 166, 154);">
                2. 우리는 우리가 판매하는 모든 자전거는 사이즈를 보장합니다.
                </span>
            </b>
        </p>

        <p align="left" style="margin:0px 0px 0px;font-size:10pt;font-family:맑은 고딕;text-align:left;line-height:normal;word-break:keep-all;"><span style="font-size: 12pt; font-family: &quot;New MingLiu&quot;;">자전거는 크기가 다릅니다.&nbsp;그리고 조정 가능한 부분입니다.</span></p>
        <p align="left" style="margin:0px 0px 0px;font-size:10pt;font-family:맑은 고딕;text-align:left;line-height:normal;word-break:keep-all;"><span style="font-size: 12pt; font-family: &quot;New MingLiu&quot;;">적합한 프레임 크기를 찾은 다음 필요에 따라 시트와 핸들 바, 브레이크 레버 및 시프터를 배치하여 착용감을 조정할수 있습니다.</span></p>
        <p align="left" style="margin:0px 0px 0px;font-size:10pt;font-family:맑은 고딕;text-align:left;line-height:normal;word-break:keep-all;"><span style="font-size: 12pt; font-family: &quot;New MingLiu&quot;;">우리의 목표는 자전거를 타기 편하고 페달을 쉽게 밟는 것입니다.&nbsp;</span></p>
        <p align="left" style="margin:0px 0px 0px;font-size:10pt;font-family:맑은 고딕;text-align:left;line-height:normal;word-break:keep-all;"><span style="font-size: 12pt; font-family: &quot;New MingLiu&quot;;">우리는 라이더에게 자전거를 선택하는데 수년간의 경험을 가지고 있으며 귀하의 몸에 맞는 자전거의 선택에 도움을 드립니다.</span></p>
        <p align="left" style="font-size:10pt;font-family:맑은 고딕;margin:11px 0px;text-align:left;line-height:normal;word-break:keep-all;"><b><span style="font-size: 19pt; font-family: &quot;New MingLiu&quot;; color: rgb(51, 51, 51);">&nbsp;</span></b></p>

        <p style="text-align: left;">
            <b style="font-family: &quot;맑은 고딕&quot; font-size: 10pt; text-align: left;">
                <span style="font-size: 19pt; font-family: &quot;New MingLiu&quot;; color: rgb(38, 166, 154);">
                3. 우리의 모든 자전거는 전문 자전거 미케닉에 의해 조립됩니다.
                </span>
            </b>
        </p>
        <p align="left" style="margin:0px 0px 11px;font-size:10pt;font-family:맑은 고딕;text-align:left;line-height:normal;word-break:keep-all;"><span style="font-size: 12pt; font-family: &quot;New MingLiu&quot;;">실제로 우리에게 해체되어 박스에 배달되며, 우리는 모든 자전거를 조립, 튜닝 및 테스트에 (추가 비용없이) 약 1 시간 (모델에 따라 다름)을 보냅니다.&nbsp;</span></p>
        <p align="left" style="margin:0px 0px 11px;font-size:10pt;font-family:맑은 고딕;text-align:left;line-height:normal;word-break:keep-all;"><span style="font-size: 12pt; font-family: &quot;New MingLiu&quot;;">또한, 미케닉서비스는 항상 구매 중 또는 판매 후에 도움이 필요한 경우 기술적인 서비스 제공 할 준비가되어 있습니다.</span></p>
        <p align="left" style="font-size:10pt;font-family:맑은 고딕;margin:11px 0px;text-align:left;line-height:normal;word-break:keep-all;"><b><span style="font-size: 19pt; font-family: &quot;New MingLiu&quot;; color: rgb(51, 51, 51);">&nbsp;</span></b></p>

        <p style="text-align: left;">
            <b style="font-family: &quot;맑은 고딕&quot; font-size: 10pt; text-align: left;">
                <span style="font-size: 19pt; font-family: &quot;New MingLiu&quot;; color: rgb(38, 166, 154);">
                4. 우리의 풍부한 경험을 당신에게 제공합니다.
                </span>
            </b>
        </p>

        <p align="left" style="margin:0px 0px 0px;font-size:10pt;font-family:맑은 고딕;text-align:left;line-height:normal;word-break:keep-all;"><span style="font-size: 12pt; font-family: &quot;New MingLiu&quot;;">우리는 전문 지식을 공유하고자하는 지식이 풍부하고 열정적인 구성원으로되어 있습니다.&nbsp;</span></p>
        <p align="left" style="margin:0px 0px 0px;font-size:10pt;font-family:맑은 고딕;text-align:left;line-height:normal;word-break:keep-all;"><span style="font-size: 12pt; font-family: &quot;New MingLiu&quot;;">변속, 라이딩방법, 혹은 가장 기본적인 튜브에 바람을 넣는법등..&nbsp;</span></p>
        <p align="left" style="margin:0px 0px 0px;font-size:10pt;font-family:맑은 고딕;text-align:left;line-height:normal;word-break:keep-all;"><span style="font-size: 12pt; font-family: &quot;New MingLiu&quot;;">문의 주시면 기꺼이 도와 드리겠습니다.</span></p>
        <p align="left" style="font-size:10pt;font-family:맑은 고딕;margin:11px 0px;text-align:left;line-height:normal;word-break:keep-all;"><b><span style="font-size: 19pt; font-family: &quot;New MingLiu&quot;; color: rgb(51, 51, 51);">&nbsp;</span></b></p>
        <p style="text-align: left;">
            <b style="font-family: &quot;맑은 고딕&quot; font-size: 10pt; text-align: left;">
                <span style="font-size: 19pt; font-family: &quot;New MingLiu&quot;; color: rgb(38, 166, 154);">
                5. 우리가 판매한 자전거는 1년 2회 무료서비스가 제공 됩니다!
                </span>
            </b>
        </p>
        <p align="left" style="margin:0px 0px 0px;font-size:10pt;font-family:맑은 고딕;text-align:left;line-height:normal;word-break:keep-all;"><span style="font-size: 12pt; font-family: &quot;New MingLiu&quot;;">자전거는 정비가 필요한 기계입니다.&nbsp;</span></p>
        <p align="left" style="margin:0px 0px 0px;font-size:10pt;font-family:맑은 고딕;text-align:left;line-height:normal;word-break:keep-all;"><span style="font-size: 12pt; font-family: &quot;New MingLiu&quot;;">가장 중요한 서비스 중 하나는 첫 번째 튠업입니다. </span></p>
        <p align="left" style="margin:0px 0px 0px;font-size:10pt;font-family:맑은 고딕;text-align:left;line-height:normal;word-break:keep-all;"><span style="font-size: 12pt; font-family: &quot;New MingLiu&quot;;">몇 주 동안 새 자전거를 타신 후에 발생합니다.&nbsp;이 시간 동안 케이블이 늘어나거나 스포크가 느슨해 지거나 조정이 변경 될 수 있습니다.&nbsp;새 장비를 최대한 오래 타고 오래 사용할 수 있도록 모든 시스템을 철저히 점검 할 수있는 무료 튜닝 서비스를 제공합니다.</span></p>
        <p align="left" style="margin:0px 0px 0px;font-size:10pt;font-family:맑은 고딕;text-align:left;line-height:normal;word-break:keep-all;"><span style="font-size: 12pt; font-family: &quot;New MingLiu&quot;;">&nbsp;</span></p>
        <p align="left" style="margin:0px 0px 0px;font-size:10pt;font-family:맑은 고딕;text-align:left;line-height:normal;word-break:keep-all;"><span style="font-size: 12pt; font-family: &quot;New MingLiu&quot;;">그 이후에 다른 사항을 조정해야 할 경우 첫해 동안 기본적인 서비스는&nbsp;</span><span style="font-family: &quot;New MingLiu&quot;; font-size: 12pt;">무료입니다!</span></p>
        <p align="left" style="font-size:10pt;font-family:맑은 고딕;margin:11px 0px;text-align:left;line-height:normal;word-break:keep-all;"><b><span style="font-size: 19pt; font-family: &quot;New MingLiu&quot;; color: rgb(51, 51, 51);">&nbsp;</span></b></p>
        <p style="text-align: left;">
            <b style="font-family: &quot;맑은 고딕&quot; font-size: 10pt; text-align: left;">
                <span style="font-size: 19pt; font-family: &quot;New MingLiu&quot;; color: rgb(38, 166, 154);">
                6. 우리의 모든 자전거가 보장됩니다.
                </span>
            </b>
        </p>
        <p align="left" style="margin:0px 0px 0px;font-size:10pt;font-family:맑은 고딕;text-align:left;line-height:normal;word-break:keep-all;"><span style="font-size: 12pt; font-family: &quot;New MingLiu&quot;;">우리는 우리가 판매하는 모든 자전거 뒤에 서 있습니다.&nbsp;</span></p>
        <p align="left" style="margin:0px 0px 0px;font-size:10pt;font-family:맑은 고딕;text-align:left;line-height:normal;word-break:keep-all;"><span style="font-size: 12pt; font-family: &quot;New MingLiu&quot;;">문제가 발생하면 찾아주시면 기꺼이 처리하겠습니다.&nbsp;</span></p>
        <p align="left" style="margin:0px 0px 0px;font-size:10pt;font-family:맑은 고딕;text-align:left;line-height:normal;word-break:keep-all;"><span style="font-size: 12pt; font-family: &quot;New MingLiu&quot;;">드물게 고장이 발생하는 경우 제조업체의 보증이 구매를 보호합니다.&nbsp;</span></p>
        <p align="left" style="margin:0px 0px 0px;font-size:10pt;font-family:맑은 고딕;text-align:left;line-height:normal;word-break:keep-all;"><span style="font-size: 12pt; font-family: &quot;New MingLiu&quot;;">우리가 판매하는 모든 자전거는 모두 정식통관된 제품이며,</span></p>
        <p align="left" style="margin:0px 0px 0px;font-size:10pt;font-family:맑은 고딕;text-align:left;line-height:normal;word-break:keep-all;"><span style="font-size: 12pt; font-family: &quot;New MingLiu&quot;;">이는 일정기간의 워런티가 보장됩니다.&nbsp;</span></p>
        <p align="left" style="margin:0px 0px 0px;font-size:10pt;font-family:맑은 고딕;text-align:left;line-height:normal;word-break:keep-all;"><span style="font-size: 12pt; font-family: &quot;New MingLiu&quot;;">&nbsp;</span></p>

        <p style="text-align: left;">
            <b style="font-family: &quot;맑은 고딕&quot; font-size: 10pt; text-align: left;">
                <span style="font-size: 19pt; font-family: &quot;New MingLiu&quot;; color: rgb(38, 166, 154);">
                7. 우리의 자전거는 최고품질, 가장 긴 수명 및 최고의 재판매 가치를 제공합니다.
                </span>
            </b>
        </p>

        <p align="left" style="margin:0px 0px 0px;font-size:10pt;font-family:맑은 고딕;text-align:left;line-height:normal;word-break:keep-all;"><span style="font-size: 12pt; font-family: &quot;New MingLiu&quot;;">정기적 인 관리 및 유지 관리만으로도 오래 지속되는 훌륭한 자전거를 얻을 수 있습니다.&nbsp;</span></p>
        <p align="left" style="margin:0px 0px 0px;font-size:10pt;font-family:맑은 고딕;text-align:left;line-height:normal;word-break:keep-all;"><span style="font-size: 12pt; font-family: &quot;New MingLiu&quot;;">그리고, 업그레이드하기로 결정하면 자전거를 좋은 가격에 판매 할 수 있습니다.</span></p>
        <p align="left" style="margin:0px 0px 0px;font-size:10pt;font-family:맑은 고딕;text-align:left;line-height:normal;word-break:keep-all;"><span style="font-size: 12pt; font-family: &quot;New MingLiu&quot;;">일부기종의 경우 우리가 직접 매입하고 있습니다.</span></p>
        <p align="left" style="margin:0px 0px 0px;font-size:10pt;font-family:맑은 고딕;text-align:left;line-height:normal;word-break:keep-all;"><span style="font-size: 12pt; font-family: &quot;New MingLiu&quot;;">&nbsp;</span></p>


        <p style="text-align: left;">
            <b style="font-family: &quot;맑은 고딕&quot; font-size: 10pt; text-align: left;">
                <span style="font-size: 19pt; font-family: &quot;New MingLiu&quot;; color: rgb(38, 166, 154);">
                8. 우리는 당신의 새로운 자전거와 함께 갈수 있는 모든 최고의 액세서리를 가지고 있습니다.
                </span>
            </b>
        </p>

        <p align="left" style="margin:0px 0px 0px;font-size:10pt;font-family:맑은 고딕;text-align:left;line-height:normal;word-break:keep-all;"><span style="font-size: 12pt; font-family: &quot;New MingLiu&quot;;">자전거는 적절한 장비를 가지고있을 때 가장 재미 있습니다.</span></p>
        <p align="left" style="margin:0px 0px 0px;font-size:10pt;font-family:맑은 고딕;text-align:left;line-height:normal;word-break:keep-all;"><span style="font-size: 12pt; font-family: &quot;New MingLiu&quot;;">우리는 헬멧, 잠금 장치, 펌프, 싸이클링 속도계등..</span></p>
        <p align="left" style="margin:0px 0px 0px;font-size:10pt;font-family:맑은 고딕;text-align:left;line-height:normal;word-break:keep-all;"><span style="font-size: 12pt; font-family: &quot;New MingLiu&quot;;">자전거를 즐기는 데 도움이 되는 많은 다른 제품과 같은 최고급 액세서리 및 장비가 있습니다.&nbsp;</span></p>
        <p align="left" style="margin:0px 0px 0px;font-size:10pt;font-family:맑은 고딕;text-align:left;line-height:normal;word-break:keep-all;"><span style="font-family: &quot;New MingLiu&quot;; font-size: 12pt;">그리고 어떤 제품이 귀하에게 적합한 지 알려드립니다.</span></p>

        <br><br>
    </div>
</div>
</html>