<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="../layout/default">

<!-- page CSS -->


    <th:block layout:fragment="css">
       <style>
               .collapsible-header {
                   -webkit-text-fill-color: transparent;
                   -webkit-text-stroke-width: 1px;
                   -webkit-text-stroke-color: #fff;
                   line-height: 0.3;
                   font-family: fantasy;
                   font-weight: 900;
               }

        </style>
    </th:block>




<!-- page 스크립트 -->
<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content" >

    <div class="section no-pad-bot" id="index-banner">
        <div class="background">

       </div>

        <script>
            $(document).ready(function(){$('.slider').bxSlider({
                auto: true,speed: 500,
                pause: 4000,
                responsive: true,
                mode:'fade',
                autoControls: false,
                controls:false,
                captions: true, //캡션사용
                touchEnabled : (navigator.maxTouchPoints > 0),
                pager:true,});
            });


            function goUrl(url,windowYn) {

                if(windowYn =="Y"){
                    var openNewWindow = window.open("about:blank");
                    openNewWindow.location.href = url;

                }else{
                    location.href = url;
                }



              /*  location.href = url;*/
            }

        </script>

        <div class="container full-wrapper" align="center">
            <div >
<!--
                <ul class="slider"  >
-->

                <ul class="slider"  >
                    <li th:each="popupList : ${popupList}"  >
                        <img th:src="@{/attach/resizeImgView.do?idAttach=} + ${popupList.attachId} + '&snFileAttach=1'" th:onclick="|javascript:goUrl('${popupList.popupUrl}','${popupList.popupUrlWindow}');|"/>
                    </li>
                </ul>

            </div>

        </div>


        <div class="container full">
            <ul>
                <li>
                    <div>
                        <h2 class="collapsible-header">AS Service</h2>
                        <a href="/as/list.do" class="full-wrapper" style="background: url(/static/image/AS-service.jpg); background-size: cover; background-position: center center;">
                            <h5 class="header col s12 light description"></h5>
                        </a>
                    </div>
                </li>
            </ul>
        </div>

        <div class="container full">
            <ul>
                <li>
                    <div>
                        <h2 class="header center purple-text ">SHOP INFO</h2>
                        <a href="/shopInfo/list.do" class="full-wrapper" style="background: url(/static/image/bicycle-shop.PNG); background-size: cover; background-position: center center;">
                            <h5 class="header col s12 light description"></h5>
                        </a>
                    </div>
                </li>
            </ul>
        </div>

        <div class="container full">
            <ul>
                <li>
                    <div>
                        <h2 class="header center orange-text">NOTICE</h2>
                        <a href="/noti/list.do" class="full-wrapper" style="background: url(/static/image/notice.png); background-size: cover; background-position: center center;">
                            <h5 class="header col s12 light description"> </h5>
                        </a>
                    </div>
                </li>
            </ul>
        </div>

        <div class="container full">
            <ul>
                <li>
                    <div>
                        <h2 class="header center lime-text ">FAQ</h2>
                        <a href="/faq/list.do" class="full-wrapper" style="background: url(/static/image/faq-shot.PNG); background-size: cover; background-position: center center;">
                            <h5 class="header col s12 light description"></h5>
                        </a>
                    </div>
                </li>
            </ul>
        </div>

        <div class="container full">
            <ul>
                <li>
                    <div>
                        <h2 class="header center blue-grey-text">CUSTOMER CENTER</h2>
                        <a href="/cs/list.do" class="full-wrapper" style="background: url(/static/image/customer.PNG); background-size: cover; background-position: center center;">
                            <h5 class="header col s12 light description"></h5>
                        </a>
                    </div>
                </li>
            </ul>
        </div>

    </div>


    <div class="container">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <a href="/bikego.do" >
                            <h2 class="center light-blue-text"><i class="material-icons">electric_bike</i></h2>
                            <h5 class="center">What's Bike go </h5>
                        </a>
                        <p class="light">Bike go 저희가 하는 일을 알려드립니다. </p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <a href="/cs/list.do" >
                            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
                            <h5 class="center">고객센터</h5>
                        </a>
                        <p class="light">불편사항 접수 및 문의사항을 남겨주시면 관리자가 빠른 시일내에 답변드리겠습니다. </p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <a href="/part/list.do" >
                            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
                            <h5 class="center">파츠구매</h5>
                        </a>
                        <p class="light">필요한 파츠 구매가 필요하신 확인 부탁 드리며, 필요한 파츠가 없을경우 고객센터 혹은 관리자에게 연락 부탁 드립니다. </p>
                    </div>
                </div>
            </div>

        </div>
        <br><br>
    </div>
</div>
</html>