<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorator="../layout/default">

<!-- page CSS -->
<th:block layout:fragment="css">
</th:block>

<!-- page 스크립트 -->
<th:block layout:fragment="script">
    <script type="text/javascript">
        function goPage(page){
            $('[name="listForm"]').children('[name="page"]').val(page);
            $('[name="listForm"]').submit();
        }

        function goSearch(){
            $('[name="listForm"]').children('[name="page"]').val(1);
            $('[name="listForm"]').submit();
        }

        $(document).ready(function() {
            $('select').formSelect(); // select box 초기화
        });
    </script>
</th:block>

<div layout:fragment="content" class="container full">
    <div class="col s12 right-align" style="margin: 2%;">
        <a th:href="@{/admin/noti/write.do}" class="large material-icons" style="font-size: 30px; color: rgba(38, 166, 154);">edit</a>
    </div>

    <ul class="collection popup-list">
        <li class="collection-item black no-border no-padding" th:each="noticeList : ${noticeList}" style="border-bottom: none;">
            <div class="row">
                <div class="col s12 m6 desc">
                    <h6 class="teal-text" th:text="${#temporals.format(noticeList.regdtNoti, 'yyyy-MM-dd')}" />
                    <div style="display: inline-flex">
                        <h4 th:if="${not #strings.isEmpty(noticeList.keywordNoti)}" th:text="${'[' + noticeList.keywordNoti + ']&nbsp;'}" style="color: #607d8b; word-break: keep-all"/>
                        <h4 th:text="${noticeList.titleNoti}" style="display: inline;"></h4>
                    </div>
                    <i th:if="${noticeList.ynDel == 'Y'}" class="material-icons blue-grey-text lighten-5" style="color: red !important;">delete_outline</i>
                    <div class="blue-grey-text lighten-5">
                        <i class="material-icons" style="float: left; margin-right: 3px;">account_circle</i>
                        <p style="padding-top: 2px;">[[${noticeList.writerNoti}]]</p>
                    </div>
                    <div align="right" style="padding-right: 5px;">
                        <a sec:authorize="hasAuthority('ADMIN')" class="waves-effect waves-light btn-small" th:href="@{/admin/noti/detail.do(seqNoti=${noticeList.seqNoti})}">more</a>
                        <a sec:authorize="!hasAuthority('ADMIN')" class="waves-effect waves-light btn-small" th:href="@{/noti/detail.do(seqNoti=${noticeList.seqNoti})}">more</a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="row">
        <form name="listForm" method="get" th:action="${#authentication.getPrincipal() == 'anonymousUser' ? '/noti/list.do' : '/admin/noti/list.do'}">
            <input type="hidden" name="page" th:value="${pagingResult.page}"/>
            <input type="hidden" name="listSize" th:value="${pagingResult.listSize}"/>
            <input type="hidden" name="pageSize" th:value="${pagingResult.pageSize}"/>
            <input type="hidden" name="direction" th:value="${pagingResult.direction}"/>
            <input type="hidden" name="sortProp" th:value="${pagingResult.sortProp}"/>

            <div class="row">
                <div class="col s12 m8 offset-m2">
                    <div class="row">
                        <div class="input-field col s3">
                            <select name="searchType" class="white-text">
                                <option value="titleNoti" th:selected="(${searchDto.searchType} == 'titleNoti')">제목</option>
                                <option value="contentsNoti" th:selected="(${searchDto.searchType} == 'contentsNoti')">내용</option>
                            </select>
                        </div>
                        <div class="input-field col s6" >
                            <input style="color: #fff3e0" id="searchKeyword" name="searchKeyword" type="text" class="validate" th:value="${searchDto.searchKeyword}"
                                   onkeypress="if( event.keyCode==13 ){goSearch();}">
                            <label for="searchKeyword">검색어</label>
                        </div>
                        <div class="input-field col s3 left-align">
                            <button class="btn waves-effect waves-light" type="button" id="searchBtn" onclick="javascript:goSearch();">검색</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:if="${not #lists.isEmpty(noticeList)}">
        <ul class="pagination">
            <th:block th:if="${pagingResult.hasPrevious}">
                <li class="waves-effect"><a th:onclick="|javascript:goPage('${pagingResult.page-1}');|"><i class="material-icons">chevron_left</i></a></li>
            </th:block>
            <th:block th:unless="${pagingResult.hasPrevious}">
                <li class="disabled"><a><i class="material-icons">chevron_left</i></a></li>
            </th:block>

            <li th:each="pageCount : ${#numbers.sequence(pagingResult.startPage, pagingResult.endPage)}" th:class="${pagingResult.page == pageCount ? 'active' : 'waves-effect'}">
                <th:block th:if="${pagingResult.page == pageCount}"><a th:text="${pageCount}"></a></th:block>
                <th:block th:unless="${pagingResult.page == pageCount}"><a th:onclick="|javascript:goPage('${pageCount}');|" th:text="${pageCount}"></a></th:block>
            </li>

            <th:block th:if="${pagingResult.hasNext}">
                <li class="waves-effect"><a th:onclick="|javascript:goPage('${pagingResult.page+1}');|"><i class="material-icons">chevron_right</i></a></li>
            </th:block>
            <th:block th:unless="${pagingResult.hasNext}">
                <li class="disabled"><a><i class="material-icons">chevron_right</i></a></li>
            </th:block>
        </ul>
    </th:block>
</div>
</html>
