<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="../layout/default">

<!-- page CSS -->
<th:block layout:fragment="css">
    <style>
    </style>
</th:block>

<!-- page 스크립트 -->
<th:block layout:fragment="script">
    <script>
        function noticeSubmit(){
            $('#noticeForm').submit();
        }

        $(document).ready(function(){
            CKEDITOR.replace('contentsNoti');

            $('#submitBtn').click(function() {
                crudSubmit();
            });

            let processed = false;
            $('#noticeForm').submit(function(e){
                if(!processed) {
                    if(e.preventDefault) {
                        e.preventDefault();
                    }
                } else {
                    e.returnValue = false;
                }

                $('#confirmModal').find('h4').text('알림');
                $('#confirmModal').find('p').text('저장 하시겠습니까?');
                $('#confirmModal').find('.confirm').on('click', function(){
                    processed = true;
                    $('#noticeForm').submit();
                })
                $('#confirmModal').modal('open');
            });

        });
    </script>
</th:block>

<div layout:fragment="content" class="container">
    <form id="noticeForm" action="/admin/noti/write.do" method="post">
        <div class="input-field col s12">
            <i class="material-icons prefix">title</i>
            <input type="text" class="validate" id="titleNoti" name="titleNoti" required="" maxlength="100">
            <label for="titleNoti">제목</label>
        </div>
        <div class="input-field col s12">
            <i class="material-icons prefix">class</i>
            <input type="text" class="validate" id="keywordNoti" name="keywordNoti" maxlength="100">
            <label for="keywordNoti">키워드</label>
        </div>
        <div>
            <textarea name="contentsNoti"></textarea><br>
        </div>
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" name="action" style="all: unset;">
                    <i class="medium material-icons" style="color: rgba(255, 255, 255, 1);">save_alt</i>
                </button>
            </div>
        </div>
    </form>
</div>
</html>