<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorator="../layout/default">

<!-- page CSS -->
<th:block layout:fragment="css">
</th:block>

<!-- page 스크립트 -->
<th:block layout:fragment="script">
    <script type="text/javascript">
        function goPage(page){
            $('[name="listForm"]').children('[name="page"]').val(page);
            $('[name="listForm"]').submit();
        }

        function goSearch(){
            $('[name="listForm"]').children('[name="page"]').val(1);
            $('[name="listForm"]').submit();
        }

        function goDetail(seqAs, passwordAs) {
            $('[name="listForm"]').children('[name="seqAs"]').val(seqAs);
            $('[name="listForm"]').children('[name="passwordAs"]').val(CryptoJS.enc.Base64.stringify(CryptoJS.enc.Utf8.parse(passwordAs)));
            $('[name="listForm"]').attr('method', 'get');
            $('[name="listForm"]').attr('action', '/as/detail.do');
            $('[name="listForm"]').submit();
        }

        function passwordInputClear() {
            $('#passwordAs').val('');
            $('#passwordAs').removeClass('valid').removeClass('invalid');
            $('#passwordAs').next().removeClass('active');
            $('#passwordAs').next().next().removeAttr('data-error');
        }

        $(document).ready(function() {
            $('select').formSelect(); // select box 초기화
            $('#passwordModal').modal({
                dismissible: true, // Modal can be dismissed by clicking outside of the modal
                opacity: .5, // Opacity of modal background
                inDuration: 300, // Transition in duration
                outDuration: 200, // Transition out duration
                startingTop: '4%', // Starting top style attribute
                endingTop: '10%', // Ending top style attribute
                onCloseStart: function(e) {}
            }); // modal 초기화

            $('.modal-trigger').on('click', function(e) {
                $('#passwordForm').find('[name="seqAs"]').val($(this).attr('data'));
                passwordInputClear();
            });

            $('#passwordAs').on('focus', function(e) {
                console.info(e);
                if($('#passwordAs').next().next().is('[data-error]')) {
                    console.info('data-error exists');
                    $('#passwordAs').removeClass('valid').removeClass('invalid');
                    $('#passwordAs').next().next().removeAttr('data-error');
                } else {
                    console.info('data-error not exists');
                    e.preventDefault();
                    return false;
                }
            });

            $('#passwordForm').on('submit', function(e) {
                $('#passwordAs').blur();
                e.preventDefault();
                let seqAs = $(this).find('[name="seqAs"]').val();
                let passwordAs = $(this).find('[name="passwordAs"]').val();
                $.ajax({
                    url: '/as/passwordChk.do',
                    type: 'post',
                    data: JSON.stringify({
                        seqAs: seqAs,
                        passwordAs: CryptoJS.enc.Base64.stringify(CryptoJS.enc.Utf8.parse(passwordAs))
                    }),
                    contentType: 'application/json; charset=utf-8;',
                    dataType: 'json',
                    success: function(data) {
                        if(data) {
                            goDetail(seqAs, passwordAs);
                        } else {
                            $('#passwordAs').next().next().attr('data-error', '비밀번호가 일치하지 않습니다.');
                            $('#passwordAs').removeClass('valid');
                            $('#passwordAs').addClass('invalid');
                        }
                    },
                    error: function(errorThrown) {
                        alert(errorThrown.statusText);
                    }
                });
            });
        });
    </script>
</th:block>

<div layout:fragment="content" class="container full">
    <div class="col s12 right-align" style="margin: 2%;">
        <a th:href="@{/as/write.do}" class="large material-icons" style="font-size: 30px; color: rgba(38, 166, 154);">edit</a>
    </div>

    <ul class="collection popup-list">
        <li class="collection-item black no-border no-padding" th:each="asList : ${asList}" style="border-bottom: none;">
            <div class="row">
                <!--<div class="col s12 m6 thumbnail" style="max-height: 300px; overflow: hidden;">
                    <th:block th:if="${#lists.isEmpty(asList.idAttach)}">
                        <img src="https://www.bianchi.com/wp-content/uploads/2020/05/BIANCHI-PARTICOLARI-02-09-19175182-634x452.jpg" alt="" style="width: 100%; height: auto;" />
                    </th:block>
                    <th:block th:unless="${#lists.isEmpty(asList.idAttach)}">
                        <img th:src="'/attach/resizeImgView.do?idAttach=' + ${asList.idAttach} + '&snFileAttach=1'" alt="" style="width: 100%; height: auto;" />
                    </th:block>
                </div>-->
                <div class="col s12 m6 desc">
                    <h6 class="teal-text" th:text="${#temporals.format(asList.regdtAs, 'yyyy-MM-dd')}" />
                    <h4 th:text="${asList.titleAs}" style="display: inline;"></h4>
                    <i th:if="${asList.ynDel == 'Y'}" class="material-icons blue-grey-text lighten-5" style="color: red !important;">delete_outline</i>
<!--                    <div class="blue-grey-text lighten-5" th:text="${asList.writerAs}" />-->
                    <div class="blue-grey-text lighten-5">
                        <i class="material-icons" style="float: left; margin-right: 3px;">account_circle</i>
                        <p style="padding-top: 2px;">[[${asList.writerAs}]]</p>
                    </div>
                    <div class="blue-grey-text lighten-5">
                        <i class="material-icons" style="float: left; margin-right: 3px; ">content_paste</i>
                        <p style="padding-top: 2px; word-break: break-all;">[[${asList.contentsAs}]]</p>
                    </div>
                    <div class="blue-grey-text lighten-5">
                        <i class="material-icons" style="float: left; margin-right: 3px;">location_on</i>
                        <p style="padding-top: 2px;">[[${asList.locationAs}]]</p>
                    </div>
                    <div align="right" style="padding-right: 5px;">
                        <a sec:authorize="hasAuthority('ADMIN')" class="waves-effect waves-light btn-small" th:href="@{/admin/as/detail.do(seqAs=${asList.seqAs})}">more</a>
                        <a sec:authorize="!hasAuthority('ADMIN')" class="waves-effect waves-light btn-small modal-trigger" href="#passwordModal" th:data="${asList.seqAs}">more</a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="row">
        <form name="listForm" method="get" th:action="${#authentication.getPrincipal() == 'anonymousUser' ? '/as/list.do' : '/admin/as/list.do'}">
            <input type="hidden" name="page" th:value="${pagingResult.page}"/>
            <input type="hidden" name="listSize" th:value="${pagingResult.listSize}"/>
            <input type="hidden" name="pageSize" th:value="${pagingResult.pageSize}"/>
            <input type="hidden" name="direction" th:value="${pagingResult.direction}"/>
            <input type="hidden" name="sortProp" th:value="${pagingResult.sortProp}"/>
            <input type="hidden" name="seqAs">
            <input type="hidden" name="passwordAs">

            <div class="row">
                <div class="col s12 m8 offset-m2">
                    <div class="row">
                        <div class="input-field col s3">
                            <select name="searchType" class="white-text">
                                <option value="titleAs" th:selected="(${searchDto.searchType} == 'titleAs')">제목</option>
                                <option value="contentsAs" th:selected="(${searchDto.searchType} == 'contentsAs')">내용</option>
                                <option value="locationAs" th:selected="(${searchDto.searchType} == 'locationAs')">위치</option>
                                <option value="writerAs" th:selected="(${searchDto.searchType} == 'writerAs')">작성자</option>
                            </select>
                        </div>
                        <div class="input-field col s6" >
                            <input style="color: #fff3e0" id="searchKeyword" name="searchKeyword" type="text" class="validate" th:value="${searchDto.searchKeyword}"
                                   onkeypress="if( event.keyCode==13 ){goSearch();}">
                            <label for="searchKeyword">검색어</label>
                        </div>
                        <div class="input-field col s3 left-align">
                            <button class="btn waves-effect waves-light" type="button" id="searchBtn" onclick="javascript:goSearch();">검색</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:if="${not #lists.isEmpty(asList)}">
        <ul class="pagination">
            <th:block th:if="${pagingResult.hasPrevious}">
                <li class="waves-effect"><a th:onclick="|javascript:goPage('${pagingResult.page-1}');|"><i class="material-icons">chevron_left</i></a></li>
            </th:block>
            <th:block th:unless="${pagingResult.hasPrevious}">
                <li class="disabled"><a><i class="material-icons">chevron_left</i></a></li>
            </th:block>

            <li th:each="pageCount : ${#numbers.sequence(pagingResult.startPage, pagingResult.endPage)}" th:class="${pagingResult.page == pageCount ? 'active' : 'waves-effect'}">
                <th:block th:if="${pagingResult.page == pageCount}"><a th:text="${pageCount}"></a></th:block>
                <th:block th:unless="${pagingResult.page == pageCount}"><a th:onclick="|javascript:goPage('${pageCount}');|" th:text="${pageCount}"></a></th:block>
            </li>

            <th:block th:if="${pagingResult.hasNext}">
                <li class="waves-effect"><a th:onclick="|javascript:goPage('${pagingResult.page+1}');|"><i class="material-icons">chevron_right</i></a></li>
            </th:block>
            <th:block th:unless="${pagingResult.hasNext}">
                <li class="disabled"><a><i class="material-icons">chevron_right</i></a></li>
            </th:block>
        </ul>
    </th:block>
    <!-- 패스워드 모달 -->
    <div id="passwordModal" class="modal">
        <div class="modal-content">
            <h5>비밀번호 입력</h5>
            <p>작성시 입력한 비밀번호</p>
            <form id="passwordForm" action="/as/passwordChk.do" method="post">
                <div class="input-field">
                    <input type="hidden" name="seqAs">
                    <input id="passwordAs" name="passwordAs" type="password" class="validate" required="" style="color: black;">
                    <label for="passwordAs">Password</label>
                    <span class="helper-text"></span>
                </div>
                <div class="modal-footer">
                    <button class="btn waves-effect waves-green btn-flat" type="submit" name="action">확인</button>
                </div>
            </form>
        </div>
    </div>
</div>
</html>
