<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="../layout/default">

<!-- page CSS -->
<th:block layout:fragment="css">
    <style>
        .input-field > textarea {
          color :#ffffff;
        }

        .img-row {
            display: grid;
            grid-template-columns: repeat(4,minmax(0,1fr));
            grid-template-rows: repeat(1,minmax(0,1fr));
            grid-gap: 2%;
            height: 100%;
        }
        .column {
            background-color: #9e9e9e;
            position: relative;
            width: 100%;
            height: 0;
            overflow: hidden;
            padding-bottom: 100%;
        }
        .slide-img {
            position: absolute;
        }
    </style>
</th:block>

<!-- page 스크립트 -->
<th:block layout:fragment="script">
    <script th:inline="javascript" th:src="@{/static/js/asBoard.js}"></script>
</th:block>

<div layout:fragment="content" class="container">
    <form id="asForm" action="/as/write.do" method="post">
        <div class="input-field col s12">
            <i class="material-icons prefix">title</i>
            <input type="text" class="validate" id="titleAs" name="titleAs" required="" maxlength="100">
            <label for="titleAs">제목</label>
        </div>
        <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input type="text" class="validate" id="writerAs" name="writerAs" required="" maxlength="20">
            <label for="writerAs">작성자</label>
        </div>
        <div class="input-field col s12">
            <i class="material-icons prefix">phone</i>
            <input type="number" inputMode="numeric" class="validate" id="noTelAs" name="noTelAs" pattern="[0-9]*" required="">
            <label for="noTelAs">전화번호</label>
        </div>
        <div class="input-field col s12">
            <i class="material-icons prefix">vpn_key</i>
            <input type="password" class="validate" id="passwordAs" name="passwordAs" required="" maxlength="10">
            <label for="passwordAs">비밀번호</label>
        </div>
        <div class="input-field col s12">
            <i class="material-icons prefix">content_paste</i>
            <textarea id="contentsAs" name="contentsAs" class="materialize-textarea" required=""></textarea>
            <label for="contentsAs">AS 요청내용</label>
        </div>
        <input type="hidden" id="latitudeAs" name="latitudeAs" />
        <input type="hidden" id="longitudeAs" name="longitudeAs" />
        <div id="kakaoMap" class="asMap">
            <input id="keyword" type="text" class="asMapInput browser-default" placeholder="검색할 주소" value=""/>
            <button class="btn waves-effect waves-light asMapBtn" type="button" id="search">
                <i class="material-icons right">search</i>
            </button>
            <!--<button class="btn waves-effect waves-light asMapBtn" type="button" id="here">
                <i class="material-icons right">gps_fixed</i>
            </button>-->
        </div>
        <div class="input-field col s12">
            <i class="material-icons prefix">location_on</i>
            <input type="text" id="locationAs" name="locationAs" required="" maxlength="100" readonly><br>
            <label for="locationAs">AS 위치</label>
        </div>
        <div class="input-field col s12">
            <i class="material-icons prefix">location_on</i>
            <input type="text" class="validate" id="dtlLocationAs" name="dtlLocationAs"><br>
            <label for="dtlLocationAs">AS 상세위치</label>
        </div>
        <div class="img-container">
            <div class="img-row">
                <div class="column">
                </div>
                <div class="column">
                </div>
                <div class="column">
                </div>
                <div class="column">
                </div>
            </div>
        </div>
        <input type="file" id="img-input" class="img-input" multiple accept="image/*" style="display: none;"/>
        <div class="row">
            <div class="col s12 center-align">
                <a class="medium material-icons imgUpBtn">
                    <i class="medium material-icons" style="color: rgba(255, 255, 255, 1);">add_photo_alternate</i>
                </a>
                <button type="submit" name="action" style="all: unset;">
                    <i class="medium material-icons" style="color: rgba(255, 255, 255, 1);">save_alt</i>
                </button>
            </div>
        </div>
    </form>
</div>
</html>