.frame {overflow: hidden; position: relative;}
.frame ul {list-style: none; margin: 0; padding: 0; position: absolute;}
.frame ul li { float: left; margin: 0 1px 0 0; padding: 0; cursor: pointer; }
.frame ul li img {width:100%;}
.frame ul li.active { color: #fff; background: #a03232; }

/* Pages */
.pages {
	list-style: none;
	margin: 10px 0;
	padding: 0;
	text-align: center;
}
.pages li {
	display: inline-block;
	width: 12px; height: 12px;
	margin: 0 2px;
	text-indent: -999px;
	border-radius: 10px;
	background: #666;
	cursor: pointer;
	overflow: hidden;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
}
.pages li:hover {
	background: #aaa;
}
.pages li.active {
	background: #1178e9;
}

/*
.sp01 {
	font:18px 'tahoma';
	text-align:center;
	line-height:490px;
	background-color:rgb(231,231,231);
	width:890px;
	height:490px;
}
*/

.sp01 {
	font:18px 'tahoma';
	text-align:center;
	line-height:100%;
	background-color:rgb(231,231,231);
	width:100%;
	height:100%;
}

.sp02 {
	font:18px 'tahoma';
	text-align:center;
	line-height:290px;
	background-color:red;
	width:490px;
	height:290px;
}

.sp03 {
	font:18px 'tahoma';
	text-align:center;
	line-height:290px;
	background-color:blue;
	width:490px;
	height:290px;
}
