<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="../layout/default">

<!-- page CSS -->
<th:block layout:fragment="css">
</th:block>

<!-- page 스크립트 -->
<th:block layout:fragment="script">
    <!-- 변수 셋팅 -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        var partinfoDto = /*[[${partinfoDto}]]*/ "";
        /*]]>*/

        console.info(partinfoDto)
        $(document).ready(function(){
            $('.slide-img').on('click', function(){
                $('#imageModal').modal('open');
            });
        });


        function goEdit(partSeq) {
            location.href="/part/edit.do?partSeq="+partSeq;
        }

        $(document).ready(function(){
            /**
            $('#delete-btn').click(function(e){
                $('#confirmModal').find('h4').text('');
                $('#confirmModal').find('p').text('삭제 하시겠습니까?');
                let removeBtn = $(this);
                $('#confirmModal').find('.confirm').on('click', function(){
                    document.getElementById('delete-form').submit();
                })
                $('#confirmModal').modal('open');
                e.stopPropagation();
            })
            **/
        })
    </script>
</th:block>

<div layout:fragment="content" class="container"  >
        <h4 th:text="${partinfoDto.partTitle}" />
        <h6 class="teal-text" th:text="${#temporals.format(partinfoDto.partRegdt, 'yyyy-MM-dd')}" />
        <p><th:block th:utext="${partinfoDto.contents}"></th:block></p>


        <div th:each="attachDto : ${attachDtoList}" >
            <img style="max-height: 800px; width: 100%; overflow: hidden;" th:src="@{/attach/resizeImgView.do?idAttach=} + ${attachDto.idAttach} + '&snFileAttach=1'" />

        </div>

    <!-- 수정/삭제 -->



        <div class="col s12 center-align">

            <form name="delete-form" id="delete-form" th:action="@{'/part/delete.do'}" method="post">
                <input type="hidden" name="_method" value="delete"/>
                <input type="hidden" name="partSeq" th:value="${partinfoDto.partSeq}"/>
<!--
                <a th:href="@{'/part/post/edit.do/' + ${partinfoDto.partSeq}}" id="submitBtn"><i class="small material-icons" style="color: rgba(255, 255, 255, 1);">settings</i></a>
-->
                <a th:onclick="|javascript:goEdit('${partinfoDto.partSeq}');|"><i class="medium material-icons" style="color: rgba(255, 255, 255, 1);">settings</i></a>
<!--                <a  href="#" id="delete-btn"><i class="medium material-icons" style="color: rgba(255, 255, 255, 1);">delete</i></a>-->
            </form>
        </div>



</div>

</html>