<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="footerFragment" class="page-footer orange">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Company Bike go</h5>
                <p class="grey-text text-lighten-4">서울 용산구 보광로 68 1층 (지번) 서울 용산구 보광동 238-20 (Company Master 김민수) TEL 02-6013-1306 Open/Close - Am 11:00 ~ Pm 21:00</p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Partners</h5>
<!--                <ul>-->
<!--                    <li><a class="white-text" target="_blank" href="https://smartstore.naver.com/tweeks">Shop by Bikego</a></li>-->
<!--                    <li><a class="white-text" target="_blank" href="https://cafe.naver.com/tweeks">Cafe by Bikego</a></li>-->
<!--                    <li>-->
<!--                        <a class="white-text" target="_blank" href="http://blog.naver.com/tweeks">Blog</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a class="white-text" target="_blank" href="http://instagram.com/tweeksbicycle">Instargram</a>-->
<!--                    </li>-->
<!--                </ul>-->
                <div>
                    <a class="white-text" target="_blank" href="http://blog.naver.com/tweeks" style="padding-right: 2px;">
                        <img src="/static/image/naver_blog-logo.png" width="40px;">
                    </a>
                    <a class="white-text" target="_blank" href="http://instagram.com/tweeksbicycle">
                        <img src="/static/image/instagram-logo.png" width="40px;">
                    </a>
                </div>
            </div>

        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="orange-text text-lighten-3" href="#">N&S</a>
        </div>
    </div>
</footer>

</html>