<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<header th:fragment="headerFragment">
    <nav class="light-blue lighten-1" role="navigation" >
        <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">
            <img src="/static/image/bikego-logo3.jpg" height="65px;" ></a>

            <th:block sec:authorize="!hasAuthority('ADMIN')">
                <!-- 일반 사용자 메뉴 -->
                <ul class="right hide-on-med-and-down">
                    <li><a class="aaa" href="/as/list.do">AS SERVICE</a></li>
                    <li><a href="/shopInfo/list.do">SHOP INFO</a></li>
                    <li><a href="/faq/list.do">FAQ</a></li>
                    <li><a href="/noti/list.do">NOTICE</a></li>
                    <li><a href="/cs/list.do">CUSTOMER</a></li>
                    <li><a href="/part/list.do">PARTS SHOP</a></li>

                </ul>

                <ul id="nav-mobile" class="sidenav">
                    <li><div class="user-view" style="background-color: #000;">
                        <a href="#user" class="avatar"><img src="/static/image/bikego-logo3.jpg" height="100px;"></a>
                        <a href="#email"><span class="deep-orange-text email">master@bikego.co.kr</span></a>
                    </div></li>
                    <li><a href="/as/list.do">AS SERVICE</a></li>
                    <li><a href="/shopInfo/list.do">SHOP INFO</a></li>
                    <li><a href="/faq/list.do">FAQ</a></li>
                    <li><a href="/noti/list.do">NOTICE</a></li>
                    <li><a href="/cs/list.do">CUSTOMER</a></li>
                    <li><a href="/part/list.do">PARTS SHOP</a></li>
                    <li><a href="#">WHAT'S WE</a></li>
                </ul>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </th:block>

            <th:block sec:authorize="hasAuthority('ADMIN')">
                <!-- 관리자 메뉴 -->
                <ul class="right hide-on-med-and-down">
                    <li><a class="aaa" href="/admin/as/list.do">AS SERVICE</a></li>
                    <li><a href="/admin/shopInfo/list.do">SHOP INFO</a></li>
                    <li><a href="/admin/faq/list.do">FAQ</a></li>
                    <li><a href="/admin/noti/list.do">NOTICE</a></li>
                    <li><a href="/admin/cs/list.do">CUSTOMER</a></li>
                    <li><a href="/part/list.do">PARTS SHOP</a></li>
                    <li><a href="#">SALE</a></li>
                    <li><a href="/popup/list.do">POPUP INFO</a></li>
                </ul>

                <ul id="nav-mobile2" class="sidenav">
                    <li><div class="user-view" style="background-color: #000;">
                        <a href="#user" class="avatar"><img src="/static/image/bikego-logo3.jpg" height="100px;"></a>
                        <a href="#email"><span class="deep-orange-text email">master@bikego.co.kr</span></a>
                        <a href="/admin/logout.do"><span th:text="${#authentication.getPrincipal().getNameAccount()}"></span>님 로그아웃</a>
                    </div></li>
                    <li><a href="/admin/as/list.do">AS SERVICE</a></li>
                    <li><a href="/admin/shopInfo/list.do">SHOP INFO</a></li>
                    <li><a href="/admin/faq/list.do">FAQ</a></li>
                    <li><a href="/admin/noti/list.do">NOTICE</a></li>
                    <li><a href="/admin/cs/list.do">CUSTOMER</a></li>
                    <li><a href="/part/list.do">PARTS SHOP</a></li>
                    <li><a href="#">WHAT'S WE</a></li>
                    <li><a href="/popup/list.do">POPUP INFO</a></li>
                </ul>
                <a href="#" data-target="nav-mobile2" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </th:block>

        </div>
    </nav>

    <!-- alert 모달 -->
    <div id="alertModal" class="modal">
        <div class="modal-content">
            <h4></h4>
            <p></p>
        </div>
        <div class="modal-footer">
            <a class="modal-close waves-effect waves-green btn-flat">확인</a>
        </div>
    </div>

    <!-- 이미지뷰 모달 -->
    <div id="imageModal" class="modal" style="width: 90%;">
        <div class="img-container">
            <div class="modal-slide" style="margin-bottom: 0px; background-image: url('/static/image/bike-sunset.jpg'); background-size: contain;">
                <div id="numbertext" class="numbertext"></div>
                <i class="material-icons modal-close" style="float: right;">close</i>
            </div>
            <a class="prev">❮</a>
            <a class="next">❯</a>
        </div>
    </div>

    <!-- confirm 모달-->
    <div id="confirmModal" class="modal">
        <div class="modal-content">
            <h4></h4>
            <p></p>
        </div>
        <div class="modal-footer">
            <a class="modal-close waves-effect waves-green btn-flat cancel">취소</a>
            <a class="modal-close waves-effect waves-green btn-flat confirm">확인</a>
        </div>
    </div>
</header>
</html>