<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<header th:fragment="headerFragment">
    <nav class="light-blue lighten-1" role="navigation" >
        <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">
            <img src="/static/image/bikego-logo3.jpg" height="65px;" ></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/as/list.do">AS</a></li>
                <li><a href="/popup/list.do">PopupInfo</a></li>
                <li><a href="#">Board</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Info</a></li>
                <li><a href="/crud/list">crud</a></li>
            </ul>

            <ul id="nav-mobile" class="sidenav">
                <li><div class="user-view" style="background-color: #000;">

                    <a href="#user" class="avatar"><img src="/static/image/bikego-logo3.jpg" height="100px;"></a>
                  <!--  <a href="#name"><span class="white-text name">John Doe</span></a>-->
                    <a href="#email"><span class="deep-orange-text email">master@bikego.co.kr</span></a>
                    <a sec:authorize="isAuthenticated()" href="/admin/logout.do"><span th:text="${#authentication.getPrincipal().getNameAccount()}"></span>님 로그아웃</a>
                </div></li>
                <li><a href="/as/list.do">AS SERVICE</a></li>
                <li><a href="/popup/list.do">POPUP INFO</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">NOTICE</a></li>
                <li><a href="#">CUSTOMER</a></li>
                <li><a href="#">PARTS SHOP</a></li>
                <li><a href="#">SALE</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    <!-- alert 모달 -->
    <div id="alertModal" class="modal">
        <div class="modal-content">
            <h4></h4>
            <p></p>
        </div>
        <div class="modal-footer">
            <a class="modal-close waves-effect waves-green btn-flat">확인</a>
        </div>
    </div>

    <!-- 이미지뷰 모달 -->
    <div id="imageModal" class="modal" style="width: 90%;">
        <div class="img-container">
            <div class="modal-slide" style="margin-bottom: 0px; background-image: url('/static/image/bike-sunset.jpg'); background-size: contain;">
                <div id="numbertext" class="numbertext"></div>
                <i class="material-icons modal-close" style="float: right;">close</i>
            </div>
            <a class="prev">❮</a>
            <a class="next">❯</a>
        </div>
    </div>

    <!-- confirm 모달-->
    <div id="confirmModal" class="modal">
        <div class="modal-content">
            <h4></h4>
            <p></p>
        </div>
        <div class="modal-footer">
            <a class="modal-close waves-effect waves-green btn-flat cancel">취소</a>
            <a class="modal-close waves-effect waves-green btn-flat confirm">확인</a>
        </div>
    </div>
</header>
</html>